html {
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body{
  /* background-color: #187A31;*/
  background-image: url('../graphics/pattern.png') ;
}

#pc-hand {
   /*
   border-color: #808080 #000000 #000000 #808080;
   border-width: 1px;
   border-style: solid;
   */
   width:  60em;
   height: 9em;
   border-radius: .3em;
   left: 15em;
   top: 3em;
   position: absolute;
   margin: 0.5em
}

#deck {
   /*
   border-color: black;
   border-width: 1px;
   border-style: solid;
   */
   width:  7em;
   height: 9em;
   border-radius: .3em;
   left: 2em;
   top: 18em;
   position: absolute;
   margin: 0.5em
}

#my-hand {
   /*
   border-color: #808080 #000000 #000000 #808080;
   border-width: 1px;
   border-style: solid;
   */
   width:  60em;
   height: 9em;
   border-radius: .3em;
   left: 15em;
   top: 33em;
   position: absolute;
   margin: 0.5em
}

#table {
   /*
   border-color: #808080 #000000 #000000 #808080;
   border-width: 1px;
   border-style: solid;
   */
   width:  60em;
   height: 11em;
   border-radius: .3em;
   left: 15em;
   top: 17em;
   position: absolute;
   margin: 0.5em
}

#discard {
   /*
   border-color: #808080 #000000 #000000 #808080;
   border-width: 1px;
   border-style: solid;
   */
   width:  7em;
   height: 9em;
   border-radius: .3em;
   left: 82em;
   top: 18em;
   position: absolute;
   margin: 0.5em

}

#message{
  /* color: #F2D113 ;*/
   position: absolute;
   left: 7.8em;
   top: 13.7em;
}








