/* flipping logo */

#f1_container {
    position: absolute;
    top: 4.5em;
    left: 82.6em;
    margin: 10px auto;
    width: 100px;
    height: 100px;
    z-index: 1;
}
#f1_container {
    perspective: 1000;
}
#f1_card {
    width: 100;
    height: 100;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
    transform: rotateY(180deg);

}
.eres {
    position: absolute;
    width: 100;
    height: 100;
    backface-visibility: hidden;
    
}
.eres.back {  
    transform: rotateY(180deg);  
    color: black;
    text-align: center;

}